apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
       # Pod-level security context
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        runAsGroup: 1001
      containers:
      - name: backend
        image: to-do-backend:v1
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3500
          name: backend-port
        # Container-level security context
        securityContext:
          allowPrivilegeEscalation: false
          privileged: false
          runAsNonRoot: true
          runAsUser: 1001
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
        env:
        - name: USE_DB_AUTH
          valueFrom:
            configMapKeyRef:
              name: mongo-config
              key: database-name
        - name: MONGO_USERNAME
          valueFrom:
            secretKeyRef:
              name: todo-secret
              key: mongo-username
        - name: MONGO_PASSWORD
          valueFrom:
            secretKeyRef:
              name: todo-secret
              key: mongo-password
        - name: MONGO_CONN_STR
          value: "mongodb://$(MONGO_USERNAME):$(MONGO_PASSWORD)@mongodb-service:27017/$(USE_DB_AUTH)?authSource=$(MONGO_USERNAME)"
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"

          

---

apiVersion: v1
kind: Service
metadata:
  name: mongodb-service
spec:
  selector:
    app: mongodb
  ports:
  - protocol: TCP
    port: 27017
    targetPort: 27017
  type: ClusterIP # Internal service only



---



---


